* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.main-container {
    padding-top: 19.5vh;
    min-height: 100vh;
    background-image: linear-gradient(to left bottom, #5fb2fb, #74bef8, #8bc9f5, #a3d4f2, #bcdef0, #b7daf0, #b2d6ef, #aed2ef, #97bcf0, #90a4ec, #9a87e0, #ac64c9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .container1 {
        display: flex;
        flex-direction: column;
        width: 60%;
        max-height: 40vh;
        padding: 2% 4%;
        //Glassmorphism
        background: rgba( 255, 255, 255, 0.4 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 3.5px );
        -webkit-backdrop-filter: blur( 3.5px );
        border-radius: 20px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );

        h1 {
            font-size: 1.4rem;
            margin-bottom: 5px;
            color: #00008b;
            letter-spacing: 0.5px;
        }

        ul {
            margin: 0% 5%;
            line-height: 2rem;
            width: 100%;
        }
    }
}

.glassmorphism {
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}