* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

html {
    scroll-behavior: smooth;  //for smooth scroll internal navigation
}

body {
    background-image: linear-gradient(to left bottom, #5fb2fb, #74bef8, #8bc9f5, #a3d4f2, #bcdef0, #b7daf0, #b2d6ef, #aed2ef, #97bcf0, #90a4ec, #9a87e0, #ac64c9);
}

.container {
    padding-top: 19.5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;

    .verification_div {
        width: 50%;
        padding: 2% 5%;
        // glassmorphism class is added
        border-radius: 30px;

        h1 {
            text-align: center;
            font-size: 1.1rem;
            margin-bottom: 2rem;
        }

        .sideHeading {
            color: darkblue;
        }

        .sliderDiv {
            margin: 20px 10px;
            display: flex;
            align-items: center;

            span {
                font-weight: bold;
                margin: 0px 5px;
            }

            h2 {
                width: 40%;

                span {
                    color: blue;
                }
                sub {
                    font-size: 0.85rem;
                }
            }

            input {
                width: 45%;
            }
        }

        .choose_components {
            margin: 2.5rem 0rem;
            height: 20vh;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            .scr_diode {
                // glassmorphism class is included
                border-radius: 10px;
                width: 47%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                padding: 0% 5%;

                .box {
                    display: flex;
                    justify-content: space-between;

                    h3 {
                        width: 35%;
                        text-align: center;
                    }

                    select {
                        width: 65%;
                        padding: 0px 5px;
                        border-radius: 5px;
                        cursor: pointer;
                        font-size: 0.95rem;
                        font-weight: 700;
                        color: darkblue;
                    }

                    select:focus {
                        border: 3px solid blue;
                        background-color: #eee;
                        outline: none;
                    }

                    select option {
                        background-color: #fff;
                    }
                }
            }

            .ammeter_voltmeter {
                // glassmorphism class is included
                border-radius: 10px;
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                .box {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;

                    select {
                        width: 60%;
                        height: 150%;
                        padding: 0px 5px;
                        border-radius: 5px;
                        cursor: pointer;
                        font-size: 0.85rem;
                        font-weight: 700;
                        color: darkblue;
                        // appearance: none;  //removes triangle
                    }

                    select:focus {
                        border: 3px solid blue;
                        background-color: #eee;
                        outline: none;
                    }

                    select option {
                        background-color: #fff;
                    }
                }
            }
        }
        .buttonDiv {
            display: flex;

            align-items: center;
            justify-content: space-between;   

            .btn1, .btn2 {
                all: unset;
                width: 30%;
                margin: 5px 2px;
                padding: 0.5rem 0rem;
                border-radius: 30px;
                outline: none;
                border: 0px;
                cursor: pointer;
                font-weight: 700;
                transition: all ease-in-out 0.3s;
                box-shadow: 1px 2px 8px 2px rgba(45,1,247,0.7);
                -webkit-box-shadow: 1px 2px 8px 2px rgba(45,1,247,0.7);
                -moz-box-shadow: 1px 2px 8px 2px rgba(45,1,247,0.7);
                background-color: white;
                text-align: center;
    
                &:hover {
                    background-color: darkblue;
                    color: whitesmoke;
                    transition: all ease-in-out 0.3s;
                }
            }

            .btn1 {
                width: 74%;
            }
            .btn2 {
                width: 24%;
            }
        }
    }

    .explanation_div {
        width: 35%;
        min-height: 30vh;
        border-radius: 30px;
        padding: 3%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; //this will be the best one (to see, use border for exp_div1,2)

        #exp_div1 {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                margin-bottom: 20px;
            }
        }

        #crct_img_div, #wrong_img_div {
            display: none;
        }

        #exp_div2 {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            h1 {
                font-size: 1.1rem;
                text-align: center;
    
                span {
                    font-weight: 800;
                    color: darkblue;
                }
            }

            h2 {
                color: red;
                font-size: 1rem;
                margin-top: 10px;
                text-align: center;
            }
    
            h3 {
                font-size: 0.8rem;
                // border: 1px solid black;
                width: 100%;
                text-align: center;
                padding: 0.3rem 0.2rem;
                border-radius: 10px;
                vertical-align: middle;
                margin-bottom: 10px;
    
                sub {
                    font-size: 0.8rem;
                }
            }

            h4 {
                font-size: 0.85rem;

                span {
                    font-size: 0.85rem;
                    color: blue;
                }
            }

            .alert_red {
                // color: red;
                background-color: pink;
            }
            .ok_green {
                background-color: lightgreen;
            }
        } 
        
        #exp_div3 {
            margin-top: 2rem;
            width: 100%;

            a {
                font-size: 0.8rem;
            }

            h3 {
                margin: 5px 0px;
                font-size: 0.8rem;
            }
        }
    }
}
.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // height: 93vh;

    h1 {
        margin: 2rem 0rem;
        font-size: 1.5rem;
        letter-spacing: 1px;
    }

    .specifications {
        width: 70%;
        padding: 1% 8% 5% 8%;
        border-radius: 30px;
        margin: 1rem 0rem;

        h2 {
            color: darkblue;
            font-size: 1.2rem;
            letter-spacing: 0.5px;
            margin: 35px 0px 15px 0px;
            text-align: center;
        }
        table {
            margin: 0% 0%;
            width: 100%;
            border-spacing: 0px;  //to remove gap between cells

            th, td {
                border: 1px solid black;
                padding: 3px;
                text-align: center;
                vertical-align: middle;
            }

            th {
                background-color: #2d2dfb;
                color: whitesmoke;
                font-weight: 700;
            }
        }

    }
}

.container3 {
    padding-bottom: 4vh;
    min-height: 90vh;
    padding: 4% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin: 2rem 0rem 3rem 0rem;
        font-size: 1.3rem;
        text-align: center;
    }
}
.accordion {
        width: 60%;

        .contentBox {
            position: relative;
            margin-bottom: 3%;

            .label {
                position: relative;
                padding: 10px;
                background: darkblue;
                color: whitesmoke;
                cursor: pointer;
                transition: 0.1s ease-in-out;
                font-weight: 600;
                padding-left: 50px;
            }

            .label::before {
                content: '+';
                position: absolute;
                top: 50%;
                right: 20px;
                transform: translateY(-50%);
                font-size: 1.5rem;
                transition: 1.2s ease;
            }

            .content{
                position: relative;
                border-bottom-right-radius: 15px;
                border-bottom-left-radius: 15px;
                background-color: rgba(255, 255, 255, 0.29);
                -webkit-backdrop-filter: blur(14px) brightness(116%);
                backdrop-filter: blur(14px) brightness(116%);
                height: 0;
                overflow: hidden;
                transition: 0.1s ease-in-out;
                overflow-y: auto;

                table {
                    margin: 0% 0%;
                    width: 100%;
                    border-spacing: 0px;  //to remove gap between cells

                    th, td {
                        border: 1px solid black;
                        padding: 3px;
                        text-align: center;
                        vertical-align: middle;
                    }

                    th {
                        background-color: #2d2dfb;
                        color: whitesmoke;
                        font-weight: 700;
                    }
                }

                ul {
                    margin:0% 3%;
                    list-style-type: circle;
        
                    li {
                        font-size: 1.1rem;
                        margin: 5px 0px;
                        text-align: justify;

                        b {
                            font-weight: 700;
                        }
                    }
        
                    // this styling is for Expt.1 Mode of operation of SCR
                    ol {
                        margin-left: 5%;
        
                        li {
                            list-style:decimal;
        
                            sub {
                                font-size: 0.75rem;
                                font-weight: 600;
                            }
                        }
                    }
                }
        
            }

        }
        .contentBox.active .label::before {
            
            content: '-';
        }

        .contentBox.active {
            .content {
                // min-height: 150px;
                height: fit-content;
                transition: 0s;
                padding: 10px 20px;
                padding: 2% 5%;
                font-size: 1.2rem;
            }
        }
}

.glassmorphism {
    //Glassmorphism
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

// For commutation of SCR circuit design page
// .container1 {
//     padding: 20.5vh 3% 1% 3%;
//     height: 100vh;
//     // background-color: whitesmoke;
//     display: flex;


//     .left {
//         border: 1px solid black;
//         width: 65%;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: space-around;
//         img {
//             width: 90%;
//         }
//         .explanation {
//             height: 25%;
//             border: 1px solid black;
//             width: 90%;
//         }
//     }

//     .right {
//         border: 1px solid black;
//         width: 50%;  //donot remove this line
//         display: flex;
//         align-items: center;
//         justify-content: center;

//         .componentSelection {
//             width: 80%;
//             padding: 5%;
//             // border: 1px solid black;
//             border-radius: 15px;

//             h1 {
//                 text-align: center;
//                 font-size: 1.3rem;
//             }

//             .sliderDiv {
//                 // border: 1px solid black;

//                 display: flex;
//                 align-items: center;
//                 justify-content: space-between;
//                 margin-bottom: 3%;

//                 h2 {
//                     border: 1px solid black;

//                     sub {
//                         font-size: 0.85rem;
//                     }
//                 }

//                 input {
//                     width: 50%;
//                 }
//             }
//         }

//     }
// }