@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap'); //poppins font
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');  //Alice
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&display=swap');  //Crimson Pro

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    padding-top: 23vh;
    height: 100vh;
    background-image: linear-gradient(to left bottom, #5fb2fb, #74bef8, #8bc9f5, #a3d4f2, #bcdef0, #b7daf0, #b2d6ef, #aed2ef, #97bcf0, #90a4ec, #9a87e0, #ac64c9);
    display: flex;
    align-items: center;
    justify-content: center;
        
    .container { 
        // glassmorphism is added
        width: 35%;
        padding: 2rem 3rem;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        

        #question-container {
            // border: 1px solid blue;

            #question-text {
                color: blue;
                text-align: center;
                font-size: 1.2rem;
                margin: 1.5rem 0rem;
            }

            .imgDiv {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            .hide_unhide_div {
                display: flex;
                align-items: center;
                justify-content: center;

                h1 {
                    // for displaying final score
                    font-size: 2rem;
                }

                #answer-buttons {
                    width: 100%;
                    // border: 1px solid black;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
    
                    .btn {
                        padding: 0.5rem;
                        margin: 0.5rem;
                        width: 90%;
                        border-radius: 0.5rem;
                        border: 0px;
                        color: black;
                        background-color: white;
                        font-weight: 600;
                    }
    
                    .btn:hover {
                        background-color: lightblue;
                        transition: 0.5s ease-in-out;
                    }
                }
            }
        }

        .controls {
            // border: 1px solid black;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;   
            margin: 1.5rem 0rem 1.5rem 0rem;

            .btn {
                padding: 0.5rem;
                width: 23%;
                border-radius: 1.5rem;
                border: none;
                background-color: blue;
                color: white;
                font-weight: 600;
                font-family: Poppins, Arial, Helvetica, sans-serif;
                letter-spacing: 2px;
                text-transform: uppercase;
                cursor: pointer;
                -webkit-box-shadow: 2px 2px 10px 1px rgba(26,17,255,0.88); 
                box-shadow: 2px 2px 10px 1px rgba(26,17,255,0.88);
                transition: all ease-in-out 0.4s;
            }

            .btn:hover {
                background-image: linear-gradient(to left, #100258, #15037e, #1704a7, #1506d2, #080aff);
                transition: all ease-in-out 0.4s;
            }
        }
    }
}

// class for using in js
.hide {
    display: none;
}

.blue {
    background-color: darkblue !important;
    color: white !important;
}

.glassmorphism {
    //Glassmorphism
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}