.simulation{
    width: 100vw;;
    display: flex;
    flex-direction: row;
}
.left {
    height: 100vh;
    width: 22vw;
    padding-top: 19.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.library{
    margin:1vh 1vw;
    padding: 5% 0%;
}

.library h3 {
    text-align: center;
    color: darkblue;
    font-variant: small-caps;
}

.firing_pulse {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-radius: 20px;
    padding: 5%;
    margin:1vh 1vw;
}

.library, .firing_pulse {  /*glassmorphism code*/
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-radius: 20px;
    backdrop-filter: blur(12px) saturate(82%);
    -webkit-backdrop-filter: blur(12px) saturate(82%);
    background-color: rgba(138, 192, 243, 0.238);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.firing_pulse h1 {
    font-size: 0.95rem;
    color: darkblue;
    font-variant: small-caps;
    text-align: center;
    margin-bottom: 20px;
}

.firing_pulse .box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5px;
}

.firing_pulse .box h3 {
    font-size: 0.85rem;
}

.firing_pulse .box select {
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
    color: darkblue;
    padding: 0px 25px;
}

.firing_pulse .box select:focus {
    border: 1px solid blue;
    background-color: #eee;
    outline: none;
}

.pair div{
    height: 60px;
    width: 60px;
    border: 1px solid blueviolet;
    margin: 10px;
}

.pair{
    display: flex;
    justify-content: space-evenly;
}

.pair img{
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
}

.main{
      width: 75vw;
      display: flex;
      justify-content:center;
      align-items: center;
      position: fixed;
      top:25vh;
      left:26vw;
}

.circuit{
    height:480px;
    width:867px;
    border: 1px solid white;
    position: relative;
    border: 1px solid red;
}

.circuit img{
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.leftTop{
    position: absolute;
    height: 200px;
    width: 255px;
}

.leftBottom1{
    position: absolute;
    height:220px;
    width:255px;
    bottom: 0;
}

.bottomLine1{
    position: absolute;
    height:70px;
    width:102px;
    bottom:0;
    left:255px;
}

.centralLine{
    position: absolute;
    height:390px;
    width:35.7px;
    bottom: 0;
    left:357px;
}

.hide{
    display: none;
}

.show{
    display: block;
}

#output{
    height:81vh;
    width: 100vw;
    position: relative;
    top:19vh;
    overflow: hidden;
}

.cancel{
    font-size: larger;
    color: red;
    position: absolute;
    right:5px;
    cursor: pointer;
    margin-top: 10px;
}

.firingAngle{
    position: absolute;
    top:10vh;
    right:50px;
}

#alpha1,#alpha2{
    margin-top:10px;
    width: 300px;
}