.simulation{
    width: 100vw;
    position: relative;
}

.option{
    position: absolute;
    top:200px;
    left:400px;
    font-size: large;
    font-weight: bolder;
}

.option>input{
    margin-right:10px;
}

.circuit{
    height:600px;
    width:1200px;
    margin-left: 30px;
    position:relative;
    top:250px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.circuit img{
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.leftImg{
    height: 100%;
    width: 50%;
    position: absolute;
    left:0;
}

.rightImg{
    height: 100%;
    width: 50%;
    position: absolute;
    left:50%;
}

#push{
    position:absolute;
    top:360px;
    left:215px;
}

#switch{
    position:absolute;
    top:40px;
    left:720px;
}

.invisible{
    height:100px;
    width: 100px;
    z-index: 99;
}

.invisible:hover{
    cursor: pointer;
}

.hide{
    display: none;
}

.show{
    display: block;
}

#output{
    height:600px;
    width:400px;
    position: absolute;
    top:250px;
    left:1300px;
    overflow: hidden;
    border: 1px solid red;
}