* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.container {
    padding-top: 19.5vh;
    background-image: linear-gradient(to left bottom, #5fb2fb, #74bef8, #8bc9f5, #a3d4f2, #bcdef0, #b7daf0, #b2d6ef, #aed2ef, #97bcf0, #90a4ec, #9a87e0, #ac64c9);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 10vh;

    .ckt_diagram {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 2% 5%;
        margin: 2% 0%;
        width: 55%;
        min-height: 70vh;

        h1 {
            text-align: center;
            color: darkblue;
            font-size: 1.4rem;
        }

        img {
            height: calc(1080px/3);
            width: calc(1920px/3);
            cursor: pointer;
        }
    }

    .infoBox {
        width: 70%;
        margin-bottom: 3%;
        padding: 2% 4%;

        h3 {
            color: darkblue;
            font-size: 1.2rem;
            padding-bottom: 10px;
            font-weight: 700;
        }

        p {
            text-align: justify;
            font-size: 1.1rem;
        }

        ul {
            margin:0% 3%;
            list-style-type: circle;

            li {
                font-size: 1.1rem;
                margin: 5px 0px;
            }

            // this styling is for Expt.1 Mode of operation of SCR
            ol {
                margin-left: 5%;

                li {
                    list-style:decimal;

                    sub {
                        font-size: 0.75rem;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    .accordion {
        width: 70%;

        .contentBox {
            position: relative;
            margin-bottom: 3%;

            .label {
                position: relative;
                padding: 10px;
                background: darkblue;
                color: whitesmoke;
                cursor: pointer;
                transition: 0.1s ease-in-out;
                font-weight: 600;
            }

            .label::before {
                content: '+';
                position: absolute;
                top: 50%;
                right: 20px;
                transform: translateY(-50%);
                font-size: 1.5rem;
                transition: 1.2s ease;
            }

            .content{
                position: relative;
                border-bottom-right-radius: 15px;
                border-bottom-left-radius: 15px;
                background-color: rgba(255, 255, 255, 0.29);
                -webkit-backdrop-filter: blur(14px) brightness(116%);
                backdrop-filter: blur(14px) brightness(116%);
                height: 0;
                overflow: hidden;
                transition: 0.1s ease-in-out;
                overflow-y: auto;

                ul {
                    margin:0% 3%;
                    list-style-type: circle;
        
                    li {
                        font-size: 1.1rem;
                        margin: 5px 0px;
                    }
        
                    // this styling is for Expt.1 Mode of operation of SCR
                    ol {
                        margin-left: 5%;
        
                        li {
                            list-style:decimal;
        
                            sub {
                                font-size: 0.75rem;
                                font-weight: 600;
                            }
                        }
                    }
                }
        
            }

        }
        .contentBox.active .label::before {
            
            content: '-';
        }

        .contentBox.active {
            .content {
                // min-height: 150px;
                height: fit-content;
                transition: 0s;
                padding: 10px 20px;
                padding: 2% 5%;
                font-size: 1.2rem;
            }
        }
    }
}

.glassmorphism {
    //Glassmorphism
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 20px;
}