* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.main-container {
    min-height: 81vh;
    background-image: linear-gradient(to left bottom, #5fb2fb, #74bef8, #8bc9f5, #a3d4f2, #bcdef0, #b7daf0, #b2d6ef, #aed2ef, #97bcf0, #90a4ec, #9a87e0, #ac64c9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 5%;


    .container1 {
        margin: 2% 0%;
        display: flex;
        flex-direction: column;
        width: 75%;
        padding: 2% 10%;
        //Glassmorphism
        background: rgba( 255, 255, 255, 0.4 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 3.5px );
        -webkit-backdrop-filter: blur( 3.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );

        h1 {
            font-size: 1.5rem;
            margin-bottom: 5px;
            color: #00008b;
            letter-spacing: 0.5px;
        }

        // in feedback page
        .thankyou {
            font-size: 3rem;
            text-align: center;
        }

        // in feedback page
        h3 {
            font-size: 1.5rem;
            text-align: center;
        }


        ul {
            // border: 1px solid black;
            margin: 0% 10%;
            line-height: 2rem;
            
            li {
                p {
                    font-size: 1.2rem;
                    font-weight: 600;
                }
            }
        }
    }

    // link in feedback page
    a {
        // border: 1px solid black;
        padding: 20px 40px;
        text-decoration: none;
        font-size: 1.3rem;
        font-weight: 900;
        border-radius: 40px;
        background-image: linear-gradient(to left top, #00008b, #0045b5, #0074cc, #009fd7, #61c8e0);
        color: whitesmoke;

        &:hover {
            padding: 22px 44px;
            background-image: linear-gradient(to right top, #00008b, #0045b5, #0074cc, #009fd7, #61c8e0);
            transition: all ease-in-out 0.3s;
        }
    }
}

.glassmorphism {
    //Glassmorphism
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}